body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box
}

* {
    outline: none;
}

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border)
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

#new-home-page body {
    font-family: 'Rubik';
}

p {
    font-size: 14px;
    line-height: 23px;
    color: #494848;
}

* {
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
}

.location-area form .element-holder.elm_hide {
    display: none;
}

/********************* header customization start *************************/
header.fixed.loggedin,
#order-pages header.fixed {
    z-index: 10;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
}

#order-pages header.fixed {
    overflow: visible !important;
}

#wrapper header.fixed.shadow {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
}

#new-home-page header.fixed.shadow {
    background-color: #fff;
}

#new-home-page header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    background-color: transparent;
    border: none;
}

.home-sec-pg-banner {
    position: relative;
    top: 0;
    padding: 0;
    background: #fff
}

#order-pages header.fixed .navmenu-links li a::after,
#wrapper header.fixed .header-left ul li a::after,
header.fixed.loggedin .header-left ul li a::after {
    height: 2px
}

header.fixed.loggedin ul li.login a:hover img,
header.fixed.loggedin ul li.login a img {
    display: none
}

#new-home-page header.fixed .navmenu-links li a,
#order-pages header.fixed .navmenu-links li .column a {
    color: #303030;
}

#new-home-page header.fixed .navmenu-links li a:hover {
    color: #5c96fa
}

#new-home-page header.fixed .header-left ul li a::after {
    background-color: #5c95fa;
    height: 2px
}

header.fixed .header-right ul li {
    /* padding: 0 8px; */
    padding: 0 6px;
    border-style: solid;
    border-width: 0 0px 0 1px;
    border-color: transparent;
    /*transition: all 0.5s ease 0s;*/
    transition: all 0s ease 0s;

    align-items: center;
    background-color: transparent;
    position: relative;
}

.header-right ul:last-child li:last-child {
    padding-left: 0;
}

#new-home-page header.fixed .header-right ul li:hover,
#new-home-page header.fixed .header-right ul li.login {
    background-color: transparent;
    outline: none;
    text-decoration: none;
    position: relative
}

header.fixed .header-right ul li.login::after,
header.fixed .header-right ul li.lang::after,
header.fixed .header-right ul li.curr::after {
    display: none
}

header.fixed .header-right ul li.login a {
    height: auto;
    padding: 12px 24px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    background-color: #45AEAC;
    color: #fff;
    border: 2px solid #45AEAC;
    height: auto;
}
header.fixed .header-right ul li.login a:hover{
    background-color: #fff;
    color: #45AEAC;
}
header.fixed .header-right ul li.login.signup a{
    background-color: #fff;
    color: #45AEAC;
}
header.fixed .header-right ul li.login.signup a:hover{
    background-color: #45AEAC;
    color: #fff;
}
.header-right ul li .dropdown-content,
.header-left ul li .dropdown-content {
    z-index: 99998
}

#wrapper header.fixed .dropdown-content .column a,
#wrapper header.fixed .navmenu-links .dropdown-content .column a:hover,
header.fixed .dropdown-content .column a,
header.fixed .navmenu-links .dropdown-content .column a:hover,
header.fixed.loggedin .dropdown-content .column a,
header.fixed.loggedin .navmenu-links .dropdown-content .column a:hover {
    float: none;
    color: #000;
    padding: 16px;
    text-decoration: none;
    display: inline-block;
    text-align: initial;
    line-height: normal;
    height: auto;
    font-weight: 400;
    box-shadow: 0 0 0 2px #fff inset
}

#order-pages header.fixed .navmenu-links li .column a {
    color: #000;
}

/******************** header customization end **************************/
.banner {
    padding: 110px 0 40px 0;
    background: rgb(255, 255, 255);
    position: relative;
}

.banner-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../../img/ring-bg.png);
    top: 0;
    left: 0;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 84%;
    pointer-events: none;
}

.banner-inner {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    align-items: center;
}

.banner-left {
    width: 40%;
}

.banner-right {
    width: 57%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}
.banner-right::before{
    content:"";
    display:block;
    width:100%;
    padding-top: 94.58%;
}
.banner-right img{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.banner-content h1 {
    font-size: 33px;
    color: #000;
    font-family: 'poppins';
    text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.22);
    margin-bottom: 15px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner-content h1 span {
    font-size: 52px;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner-content h1 small {
    display: block;
}

.banner-content p {
    font-size: 17px;
    font-weight: 400;
    color: #303030;
    line-height: 26px;
    margin-bottom: 10px;
    text-align: justify;
}

.banner-content p:empty {
    display: none;
}

.app-store-btn h3 {
    font-size: 24px;
    color: #45AEAC;
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
    font-family: 'poppins';
    margin-top: 27px;
    text-transform: uppercase;
    line-height: 30px;
}

.app-store-btn a {
    display: inline-block;
    margin: 0 20px 15px 0;
    width: 207px;
    position: relative;
    left: 0;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.app-store-btn a:hover {
    left: -10px;
}

.app-store-btn a img {
    max-width: 100%;
}

/*****************************************/
.location-area {
    padding: 50px 0;
    background: linear-gradient(180deg, rgba(69, 174, 172, 0.14) 0%, rgba(69, 174, 172, 0.00) 53.65%, rgba(69, 174, 172, 0.14) 100%);
}

.location-area-inner {
    max-width: 1370px;
    padding: 0 15px;
    margin: 0 auto;
}

.rootservices .common-title h3 {
    color: #000;
}

.common-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.common-title h3 {
    font-size: 46px;
    font-weight: bold;
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 0;
    margin-top: -5px;
}

.common-title h3:empty {
    display: none;
}

.common-title h3 span {
    /*color: #45aeac;*/
    font-weight: 600;
    font-size: 30px;
    display: block;
    position: relative;
    margin-bottom: 16px;
    display: inline-block;
}

.common-title h3 span:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    /*background-color: #45aeac;*/
    top: 50%;
    margin-top: -1px;
    left: -63px;
}

.common-title h3 span:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    /*background-color: #45aeac;*/
    top: 50%;
    margin-top: -1px;
    right: -63px;
}

.location-area select,
.location-area .selected_service {
    /* width: 210px; */
    width: 260px;
    font-size: 16px;
    color: #494949;
    padding: 10px 45px 10px 23px;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    outline: none;
    vertical-align: top;
    border-right: 1px solid #ddd;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    min-height: 74px;
    display: flex;
    align-items: center;
}

.location-area .selected_service a {
    line-height: 21px;
}

.location-area select option,
.location-area #standard-select li {
    font-size: 18px;
}

.location-area input {
    width: 597px;
    max-width: 100%;
    font-size: 20px;
    color: #494949;
    padding: 22px 120px 22px 62px;
    margin: 0;
    border: none;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    vertical-align: top;
    text-overflow: ellipsis;
}

.location-area form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 858px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.location-area form .element-holder {
    display: inline-block;
    position: relative;
    margin: 0;
}

.goto-service-page {
    position: absolute;
    left: 0;
    top: 1px;
    bottom: 1px;
    right: 0;
    display: none;
    flex-wrap: wrap;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 35px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.element-holder:after
 {
    content: '';
    width: 70px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../../../img/apptype/ProKX/drop_arrow.svg);
    background-repeat: no-repeat;
    background-position: center right 27px;
    background-size: 12px;
    pointer-events: none;
}

.element-holder.address-input:before,
.location-area form .element-holder.address-input .search-location::after
{
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../../../img/apptype/ProKX/location.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    pointer-events: none;
}

.location-area form .element-holder.address-input button[type="submit"] {
    position: absolute;
    border: none;
    outline: none;
    width: 73px;
    height: auto;
    background-color: #000;
    right: -1px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    top: 0;
    bottom: 0;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.element-holder.address-input:after,
.element-holder.address-input .search-location:after
 {
    background-image: url(../../../img/apptype/ProKX/locate-go.png);
    z-index: 1;
    width: 73px;
    background-position: center;
    background-size: 24px;
}

.common-title.left h3 {
    align-items: flex-start;
    text-align: initial;
}

/********************************/
.select_service {
    position: relative;
}

.services_part {
    display: flex;
    flex-wrap: wrap;
}

.services_part_title {
    width: 100%;
    font-weight: 600;
    display: block;
    padding: 10px 0px 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    margin: 10px 15px;
}

.select_service ul#standard-select {
    position: absolute;
    top: 100%;
    width: 858px;
    display: none;
    background-color: #fff;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    z-index: 2;
    margin-top: 20px;
}

.select_service.active ul#standard-select {
    display: block;
}

.select_service ul#standard-select .service_head {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: #000;
    font-family: 'poppins';
    font-weight: 500;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    background-color: #d5fffe;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.selected_service.active~ul#standard-select {
    display: flex;
}

.select_service ul#standard-select:before {
    content: '';
    position: absolute;
    border-bottom: 11px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    right: 20px;
    top: -11px;
    left: 20px;
    width: 0;
}

.select_service ul#standard-select li {
    font-size: 14px;
    display: inline-block;
    width: 25%;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    border-right: 1px solid #ddd;
    color: #000;
}

.select_service ul#standard-select li a {
    padding: 8px 10px;
    margin: 4.5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    color: #000;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.select_service ul#standard-select li a:hover {
    background-color: #ddd;
    color: #000;
}

/*.select_service ul#standard-select li:hover {
    color: #45aeac;
}*/
.select_service ul#standard-select .service_head .search_service img {
    width: 16px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.select_service ul#standard-select .service_head .search_service input[type="text"] {
    background-color: #fff;
    border-radius: 5px;
    width: 174px;
    height: auto;
    padding: 5.5px 33px 5.5px 10px;
    font-size: 15px;
    border: 1px solid #ddd;
}

.select_service ul#standard-select .service_head .search_service {
    position: relative;
}

/*****************************************/
.rootservices.homepage.page-section {
    padding-top: 50px;
}

.rootservices .common-title.left span {
    margin-bottom: 40px;
}

.rootservices .common-title.left {
    padding: 24px 50px 0 0;
    width: 100%;
}

.services-inner {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 15px;
    width: auto;
}

.rootservices-inner {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.rootservices ul {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 0 -10px 40px -10px;
}

.rootservices ul li.headinglist {
    width: 50%;
    border: none;
    background-color: transparent;
}

.rootservices ul li.headinglist:hover {
    background-color: transparent;
}

.rootservices ul i {
    display: inline-flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.rootservices .common-title.left p {
    text-align: left;
    color: #000 !important;
    text-align: left;
    color: #000 !important;
    font-size: 20px;
    line-height: 31px;
}

.rootservices ul i img {
    height: 50px;
}

.rootservices ul li strong {
    display: block;
    font-size: 25px;
    font-weight: 600;
    color: #333;
    margin: 12px 0 10px 0;
    word-break: break-word;
    text-transform: capitalize;
    box-sizing: border-box;
    line-height: 25px;
}

.rootservices ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 10px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    margin: 0 0 20px 0;
    /* width: 25%; */
    width: 33%;
    position: relative;
    z-index: 0;
}

.rootservices ul li:last-child {
    /* width: 50%; */
    width: 33%;
}

.rootservices ul li>div {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 0 1px #EDEDED;
    padding: 20px 20px 25px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    cursor: pointer;
    overflow: hidden;
}

.rootservices ul li:hover>div {
    box-shadow: 0 0 0 1px #45aeac;
}

.rootservices ul li>div p {
    text-align: justify;
    margin-top: 13px;
    line-height: 23px;
}

.services.homepage ul li {
    width: auto;
}

.rootservices ul li a.more-services img {
    margin-left: 6px;
    width: 28px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.rootservices ul li a.more-services.active img {
    transform: rotatex(180deg);
    -webkit-transform: rotatex(180deg);
    -moz-transform: rotatex(180deg);
    -ms-transform: rotatex(180deg);
    -o-transform: rotatex(180deg);
}

.rootservices ul li a.more-services {
    /* background-color: #45aeac;*/
    padding: 17px 39px;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    display: inline-block;
    margin-top: 0;
    transition: .5s;
    font-family: 'Rajdhani';
    z-index: 1;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.rootservices ul li a.more-services:hover {
    background-color: #333;
}

.rootservices ul li .readmorebtn {
    position: absolute;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    padding: 10px 20px;
    width: 60px;
    height: 60px;
    right: -18px;
    bottom: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.rootservices ul li .readmorebtn img {
    width: 21px;
    height: 13px;
    position: absolute;
    left: 12px;
    top: 16px;
}

.servicelist {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    justify-content: center;
}

.serviceblock {
    width: 14.2%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.servicesdata-caption {
    margin-bottom: 15px;
}

.serviceblock-inner {
    padding: 20px 15px;
    text-align: center;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.13), 0 0 0 0px #ccc inset;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.serviceblock-inner:hover {
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.13), 0 0 0 1px var(--mainColor) inset;
}

.serviceblock-inner img {
    height: 80px;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.rootservices .serviceblock strong {
    display: block;
    font-family: 'Rubik';
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 15px;
    line-height: normal;
}

.hiddenrootser {
    display: none;
}

/*****************************************/
.howworks {
    padding: 60px 0 60px 0;
    background: linear-gradient(180deg, rgba(69, 174, 172, 0.14) 0%, rgba(69, 174, 172, 0.00) 53.65%, rgba(69, 174, 172, 0.14) 100%);
    position: relative;
    z-index: 0;
}

.howworks-inner {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.howworks ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.howworks ul li {
    width: 25%;
    padding: 0 15px;
    text-align: center;
}

.howworks ul li strong {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #010101;
    margin: 18px 0 16px 0;
    text-transform: capitalize;
}

.howworks ul li .howworks-block {
    min-height: 100%;
}

.howworks ul li .howworks-block img {
    height: 97px;
}

.howworks ul li .howworks-block i {
    display: inline-flex;
}

.howworks ul li .howworks-block p {
    text-align: center;
}

.howworks .common-title.havedesc p {
    text-align: center;
}

.common-title.havedesc h3 {
    margin-bottom: 5px;
}

.common-title.havedesc p {
    font-size: 16px;
    color: #000;
    text-align: center;
    line-height: 30px;
}

.common-title.havedesc {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*****************************************/
.become {
    padding: 50px 0 50px 0;
    position: relative;
    z-index: 0;
}

.become-inner {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}

.become_grid{
    display: grid;
    grid-template-columns: calc(60% - 10px) calc(40% - 10px);
    gap: 20px;
}
.become ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.become ul li .become-block {
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.21);
    min-height: 100%;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #fff;
    position:relative;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.become ul li .become-block > a {
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    z-index: 0;
    background-position:center center;
}
.became-img-block {
    background-size: cover;
    background-position: Top center;
    background-repeat: no-repeat;
    display: block !important;
}
.became-img-block::before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 108.9%;
}
.become ul li strong {
    font-size: 20px !important;
    line-height: 1em !important;
    color: #000;
    font-weight: bold;
    display: block;
    margin: 30px 25px 22px 30px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}
.become ul li .become-block:after {
    content: '>';
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    background-color: #3d5aaa;
    border-radius: 50% 0 0 0;
    right: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    cursor: pointer;
    pointer-events: none;
}
.become ul li:hover .become-block:after {
    background-color:#5c96fa;
}
.become ul li strong:before {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    /*background-color: #3d5aaa;*/
    z-index: -1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: -15px;
    top: -15px;
}
.become ul li strong small {
    font-size: 20px;
    display: block;
    font-weight: 600;
    margin-top: 10px;
}
.become ul li strong span {
    text-transform: initial;
    font-size: 35px;
    display: inline-block;
    margin-bottom: 0;
}
.become ul li strong span {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    position: relative;
    z-index: 0;
    margin: 0 0 -5px 0;
    line-height: 1.2em !important;
}
.become ul li strong a {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    position: relative;
    text-decoration: none;
    text-align: right;
    z-index: 0;
    margin: 0 0 -5px 0;
}
.become ul.become_right_list li:first-child{
    grid-column: span 2;
}
.become ul.become_right_list li:first-child .became-img-block::before{
    padding-top: 29%;
}
.become ul.become_right_list li .became-img-block::before{
    padding-top: 54.25%;
}
/* .become ul.become_right_list li strong {
    font-size: 25px !important;
    margin: 25px 25px 22px 20px;
}
.become ul.become_right_list li strong:before {
    width: 38px;
    height: 38px;
    left: -15px;
    top: -10px; */
}

.app-feature-section {
    padding: 30px 0;
    background-color: #ffffff;
}

.app-feature-section strong {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #3e3e3e;
    display: block;
    margin-bottom: 0;
    max-width: 990px;
    text-align: center;
    margin: 0 auto;
}

.select2-container--default .select2-results__option[aria-disabled=true][id$="service-main-cat"] {
    padding: 6px 6px 6px 6px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

.select2-container--default .select2-results__option[aria-disabled=true][id$="service-main-subcat"] {
    padding: 6px 6px 6px 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

li.select2-results__option:not([id$="service-main-subcat"]):not([id$="service-main-cat"], .select2-results__option) {
    padding: 6px 6px 6px 50px;
}

li.select2-results__option:not([id$="service-main-subcat"]):not([id$="service-main-cat"]):first-child {
    padding: 6px;
}

.gen-cms-page .static-page {
    margin-top: 30px;
}

.deliver-address:before {
    content: '';
    width: 42px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../../../../assets/img/apptype/ProKX/location.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 24px;
    pointer-events: none;
    z-index: 1;
}

/*****************************************/
/* 03-02-2024 */
.side_menu_profile{
    position: relative;
}
.left-menu-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 11px 30px 12px 50px;
    background-color: #fff;
    column-gap: 20px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #ddd;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.left-menu-logo .profile-image {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0;
}
.left-menu-logo .profile-image ~ div{
    width: calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: -moz-calc(100% - 80px);
    width: -ms-calc(100% - 80px);
    width: -o-calc(100% - 80px);
}
.left-menu-logo  span{
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    margin: 0 0 5px 0;
    width: 137px;
    word-wrap: break-word;
}
.left-menu-logo  .__rating{
    font-size: 15px;
    display: inline-flex;
    gap: 5px;
}
.left-menu-logo  .__rating i.ri-star-fill{
    color: #fc8400;
    position: relative;
    top: -1px;
}
.side_menu_profile .menu-ico{
    position: absolute;
    top: 7px;
    right: 10px;
}
.side_menu_profile .menu-icoholder-side{
    margin: 0;
    right: 10px;
    height: 100%;
    top: 0;
    display: flex;
    left: auto;
}
.left-menu-welcome{
    width: 100%;
}
.left-menu-welcome > *{
    font-size: 15px !important;
    font-weight: 400 !important;
    color: #707070 !important;
    width: auto !important;
    display: block !important;
    word-wrap: break-word !important;
    margin: 0 0 5px 0 !important;
}
.left-menu-logo  strong {
    display: block;
    font-size: 22px;
    color: #000;
    font-weight: 600;
    line-height: 1.2em;
    margin: 0 0 5px 0;
}
.close__menu {
    width: 20px;
    height: 24px;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    right: 10px;
    top: 10px;
}
.close__menu span {
    width: 100%;
    height: 2px;
    background-color: #0072bb;
    display: inline-block;
    position: relative;
}
.close__menu span:before {
    content: '';
    position: absolute;
    top: -7px;
    width: 100%;
    height: 2px;
    background-color: #0072bb;
    display: block;
}
.close__menu span:after {
    content: '';
    position: absolute;
    bottom: -7px;
    width: 100%;
    height: 2px;
    background-color: #0072bb;
    display: block;
}
.close__menu span:before {
    top: 0;
    transform-origin: center center;
    transform: rotate(45deg);
}
.close__menu span {
    background-color:transparent;
}
.close__menu span:after {
    bottom: 0;
    transform-origin: center center;
    transform: rotate(-45deg);
}
body.side_menu .menu-ico.active{
    display: none;
}
/* .fixed.loggedin .menu-ico.active span{
    display: none;
} */
[dir="rtl"].login-right form #mobile-otp-form  .form-group label{
    left: auto;
    right: 106px;
}
body.side_menu{
    overflow: hidden;
}
body.side_menu .mix-content{
    position: relative;
}
body.side_menu .mix-content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999999999;
}
/*****************************************/
[dir="rtl"] .banner-shape {
    transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
}

[dir="rtl"] .app-store-btn {
    font-size: 0;
}

[dir="rtl"] .app-store-btn a {
    margin: 0 0 15px 20px;
}

[dir="rtl"] .location-area form .element-holder.address-input button[type="submit"] {
    left: 0;
    right: auto;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}

[dir="rtl"] .location-area select,
[dir="rtl"] .location-area .selected_service {
    padding: 10px 23px 10px 45px;
    border-right: 0 solid #ddd;
    border-left: 1px solid #ddd;
    border-radius: 0 10px 0 0;
    -webkit-border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
    -ms-border-radius: 0 10px 0 0;
    -o-border-radius: 0 10px 0 0;
}
[dir="rtl"] .location-area .selected_service{
    border-radius: 0 10px 10px 0;
}
[dir="rtl"] .location-area input {
    padding: 22px 62px 22px 120px;
}

[dir="rtl"] .goto-service-page {
    left: 60px;
    right: 0;
}

[dir="rtl"] .detect-loc {
    right: auto;
    left: 85px;
}

[dir="rtl"] .element-holder:after {
    right: auto;
    left: 0;
}

[dir="rtl"] .common-title h3:before {
    left: auto;
    right: -25px;
}

[dir="rtl"] .element-holder.address-input:before,
[dir="rtl"] .location-area form .element-holder.address-input .search-location::after
 {
    right: 0;
    left: auto;
}

[dir="rtl"] .rootservices .common-title.left {
    padding: 24px 0 0 160px;
}

[dir="rtl"] .rootservices ul li:nth-child(2) {
    border-width: 1px 1px 0 0px;
}

[dir="rtl"] .rootservices ul li:nth-child(3) {
    border-width: 1px 1px 0 1px;
}

[dir="rtl"] .rootservices ul li {
    border-width: 1px 1px 1px 0px;
}

[dir="rtl"] .rootservices ul li strong {
    padding: 0 20px 0 0;
}

[dir="rtl"] .rootservices ul li .readmorebtn {
    right: auto;
    left: -18px;
}

[dir="rtl"] .rootservices ul li .readmorebtn img {
    left: auto;
    right: 12px;
    transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
}

[dir="rtl"] .became-caption img {
    transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
}

[dir="rtl"] .common-title.left h3:before {
    left: auto;
    right: -30px;
}

[dir="rtl"] .rootservices ul li.headinglist .common-title h3 span:after {
    right: auto;
    left: -63px;
}

[dir="rtl"] .rootservices ul li:last-child {
    border-width: 1px 1px 1px 1px;
}

[dir="rtl"] .rootservices ul li a.more-services img {
    vertical-align: middle;
    margin-left: 0;
    margin-right: 6px;
}

[dir="rtl"] .element-holder.address-input:after,
[dir="rtl"] .element-holder.address-input .search-location:after
 {
    transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
}

[dir="rtl"] .rootservices ul li a.readmorebtn:after {
    transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
}

[dir="rtl"] .become ul li a:after {
    /*transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);*/
}

form#_fare_estimate_form .button-block {
    display: block;
}

[dir="rtl"] #_fare_estimate_form .btn-hold.mr-auto {
    margin: 0 10px 0 0;
}

[dir="rtl"] .become ul li a:after {
    right: auto;
    left: 0;
    border-radius: 0 10px;
    -moz-border-radius: 0 10px;
    -ms-border-radius: 0 10px;
    -o-border-radius: 0 10px;
}

[dir="rtl"] .rootservices .common-title.left p {
    text-align: right;
}

[dir="rtl"] .become ul li strong:before {
    left: auto;
    right: -15px;
}



#new-home-page {
    overflow-x: hidden;
}

[dir="rtl"] .banner-section.taxi-app .banner-section-inner {
    direction: rtl;
}

#currDropdown,
#langDropdown {
    z-index: 99999
}

#currDropdown {
    display: none;
}

#mainCurrDropdown:hover #currDropdown {
    display: block;
}

#langDropdown {
    display: none;
}

#mainLangDropdown:hover #langDropdown {
    display: block;
}

[dir="rtl"] .goto-service-page {
    border-radius: 10px 0 0 10px;
}

[dir="rtl"] .deliver-address:before {
    left: auto;
    right: 0;
}

@media screen and (max-width:1920px) {
    .banner-right img {
        width: auto;
        max-width: 100%;
    }
}

@media screen and (max-width:1600px) {
    .banner-right img {
        max-width: 100%;
    }
    .banner-shape {
        left: 250px;
    }
}

@media screen and (max-width:1279px) {
    .banner-content h1 span {
        font-size: 48px;
        line-height: 48px;
    }

    .banner-content h1 {
        font-size: 30px;
        line-height: 30px;
    }

    /************************************/
    .serviceblock {
        width: 20%;
    }

    /************************************/
    header.fixed .header-right ul li {
        padding: 0 6px;
    }
}

@media screen and (max-width:1024px) {
    p {
        font-size: 15px;
        line-height: 24px;
    }

    .rootservices ul li a.more-services {
        padding: 14px 28px;
        font-size: 20px;
    }

    .rootservices ul li:hover a {
        color: #fff;
    }

    /*********************************/
    .howworks ul li .howworks-block {
        padding: 25px 15px;
    }

    /*********************************/
    .rootservices ul li,
    .rootservices ul li:last-child {
        width: 33.33%;
    }

    .header-left .logo {
        margin: 0;
    }

    .banner-left {
        width: 50%;
    }

    .banner-right {
        width: 50%;
    }

    .howworks ul li {
        width: 50%;
    }

    .became-img-block::before {
        padding-top: 66.25%;
    }
    .become_grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:991px) {

    /**********************************/
    header.fixed .header-right ul li {
        padding: 0;
    }

    .header-left .logo {
        margin-right: 0;
        padding: 0 15px 0 0;
        margin-left: 0;
    }

    header.fixed {
        background-color: #FFF !important;
    }

    header.fixed .header-right ul li.login a,
    header.fixed .header-right ul li.login.active a {
        border: none;
        width: 100%;
        padding: 15px;
        border-radius: 0;
        color: #000;
    }

    header.fixed .header-right ul li.login {
        border-bottom: 1px solid #ddd;
    }

    header.fixed .header-right ul li.login:last-child {
        border: none;
    }

    header.fixed .header-right ul li.login.active a,
    header.fixed .header-right ul li.login a,
    header.fixed .header-right ul li.login a:hover {
        background-color: transparent;
    }

    header.fixed.loggedin ul li.login a:hover img

    /*header.fixed.loggedin ul li.login a img*/
        {
        display: inline-block;
    }

    #new-home-page header.fixed .header-right ul li.login a,
    #new-home-page header.fixed .header-right ul li.login.active a {
        color: #000;
    }

    #new-home-page header.fixed .header-right ul li.login a:hover,
    header.fixed .header-right ul li.login.active a:hover,
    header.fixed .header-right ul li.login:hover a {
        background-color: #fff;
        /* color: #45aeac;*/
    }

    header.fixed .header-right ul li.login:hover a,
    #new-home-page header.fixed .header-right ul li.login.active a {
        border: none;
    }

    /**********************************/
    .header-right ul li .dropdown-content {
        top: 0;
    }

    header ul.mobile_language_cur li .dropdown-content {
        width: 95vw;
        top: 72px;
        margin: 0 auto;
    }

    /**********************************/
    .banner {
        padding: 120px 0 40px 0;
        margin: 0;
    }

    .banner-left {
        width: 100%;
    }

    .banner-right {
        width: 100%;
        margin-top: 35px;
    }

    .banner-right img {
        width: auto;
        max-width: 100%;
        margin: 0;
    }

    .app-store-btn a {
        margin: 0 15px 15px 0;
    }

    .banner:after {
        display: none;
    }

    /*************************************/
    .common-title h3 {
        font-size: 42px;
    }

    .common-title h3 span {
        font-size: 22px;
        margin-bottom: 4px;
    }

    /*************************************/
    .rootservices ul li.headinglist {
        width: calc(50% - 20px);
        width: -o-calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
    }

    .rootservices ul li {
        width: 50%;
    }

    .rootservices ul li:last-child {
        width: 100%;
    }

    .rootservices {
        padding: 30px 0 30px 0;
    }

    .rootservices .common-title.left,
    [dir="rtl"] .rootservices .common-title.left {
        padding: 0 0 0 0;
    }

    .serviceblock {
        width: 33.33%;
    }

    /*************************************/
    .app-store-btn a {
        margin: 0 15px 15px 0;
    }

    /*************************************/
    .location-area form {
        flex-direction: column;
        background-color: transparent;
        box-shadow: none;
        row-gap: 8px;
    }

    .location-area select,
    .location-area .selected_service {
        width: 100%;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        border-right: none;

    }
    .location-area .selected_service{
        background-color: #fff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    .location-area form .element-holder.address-input .search-location{
        background-color:#fff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        position: relative;
    }

    .location-area .element-holder:after{
        height: 66px;
    }
    [dir="rtl"] .location-area .selected_service {
        border-left: none;
    }

    [dir="rtl"] .goto-service-page {
        border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        -ms-border-radius: 0 0 10px 10px;
        -o-border-radius: 0 0 10px 10px;
    }

    .location-area input {
        width: calc(100% - 124px);
        width: -o-calc(100% - 124px);
        width: -moz-calc(100% - 124px);
        width: -webkit-calc(100% - 124px);
        max-width: 734px;
    }

    .goto-service-page {
        top: 0;
        font-size: 24px;
        border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        -ms-border-radius: 0 0 10px 10px;
        -o-border-radius: 0 0 10px 10px;
    }

    .select_service ul#standard-select {
        width: auto;
        margin-top: 0;
    }

    .select_service ul#standard-select li {
        width: 33.33%;
    }

    /*************************************/
    .rootservices ul li,
    .rootservices ul li:nth-child(2),
    .rootservices ul li:nth-child(3),
    [dir="rtl"] .rootservices ul li,
    [dir="rtl"] .rootservices ul li:nth-child(2),
    [dir="rtl"] .rootservices ul li:nth-child(3) {
        border-width: 1px;
    }

    [dir="rtl"] .rootservices ul li:nth-child(3) {
        border-width: 1px 1px 1px 1px;
    }

    /*************************************/
    .howworks ul li {
        width: 50%;
        margin-bottom: 30px;
    }

    /*************************************/
    [dir="rtl"] .categories-block {
        margin: 1;
    }

    .rootservices ul {
        margin: 0 -10px 40px -10px;
    }

    .howworks {
        padding: 40px 0 40px 0;
    }

    .become ul li strong {
        font-size: 26px;
    }

    /* services section section start */
    .location-area {
        padding: 55px 0 27px 0;
    }

    .rootservices.homepage.page-section {
        padding: 40px 0;
    }

    .rootservices ul li:last-child {
        margin-bottom: 0;
    }
    .gen-cms-page .static-page,
    .gen-cms-page .faq-page {
        margin-top: 20px;
    }

    .howworks ul li::nth-last-child(-n + 2) {
        margin-bottom: 0;
    }
}

@media screen and (max-width:767px) {
    .banner {
        padding: 100px 0 40px 0;
    }

    .banner-content p {
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
    }

    /*************************************/
    .common-title h3 {
        font-size: 35px;
    }

    .common-title h3 span {
        font-size: 20px;
        margin-bottom: 4px;
    }

    .common-title.havedesc {
        margin-bottom: 25px;
    }

    /*************************************/
    .location-area input {
        width: 100%;
        max-width: 100%;
        text-overflow: ellipsis;
    }

    .location-area form .element-holder {
        width: 100%;
    }

    .location-area select,
    .location-area .selected_service {
        width: 100%;
    }

    /*************************************/
    #DeliveryAddress.deliver-address:before {
        top: 0;
    }

    .search-page-wrap .deliver-address:before {
        top: -72px !important;
        /*left:2px;*/
        left: 9px;
    }

    .footer-column ul li a {
        line-height: 20px;
    }

    .deliver-address input {
        padding: 0 45px 0 29px !important;
    }

    .search-page-wrap h3 {
        margin: 0 0 0px 0 !important;
    }

    .search-page-wrap p {
        margin-bottom: 12px !important;
    }

    .deliver-address .user_info_input {
        margin: 0 0 0px !important;
    }
}

@media screen and (max-width:630px) {
    .howworks ul li {
        margin-bottom: 15px;
    }

    .howworks ul li:nth-last-child(-n + 2) {
        margin-bottom: 15px;
    }

    .rootservices ul {
        display: block;
        margin: 0 0 40px 0;
    }

    .rootservices ul li.headinglist {
        width: 100%;
    }

    .rootservices ul li,
    .rootservices ul li:last-child {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .rootservices.homepage ul li {
        margin-bottom: 20px;
        padding: 0;
    }

    .rootservices ul li:last-child {
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .rootservices ul li:last-child:hover {
        background-color: transparent;
    }

    .rootservices ul li a.more-services {
        background-color: #000 !important;
    }

    .serviceblock {
        width: 50%;
    }

    .rootservices .serviceblock strong {
        font-size: 12px;
    }

    .howworks ul li {
        width: 100%;
    }

    .common-title.havedesc p {
        font-size: 15px;
        line-height: 27px;
    }
    header.fixed .header-right .login-icon,
    header.fixed.loggedin ul li.login a img {
        display: inline-block;
    }

    /*************************************/
    .header-right ul li.curr .dropdown-content .column a,
    header ul.mobile_language_cur li .dropdown-content .column a {
        width: calc(33.33% - 9px);
        width: -o-calc(33.33% - 9px);
        width: -moz-calc(33.33% - 9px);
        width: -webkit-calc(33.33% - 9px);
    }

    .select_service ul#standard-select li {
        width: 50%;
    }

    .become ul li strong {
        font-size: 28px;
    }

    .common-title h3 {
        font-size: 27px;
    }
    .howworks ul{
        row-gap: 20px;
    }
    .howworks ul li {
        margin: 0px;
    }

    .howworks ul li:nth-last-child(-n + 2) {
        margin-bottom: 15px;
    }

    /* services section section start */
    .location-area {
        padding: 40px 0;
    }
    .rootservices ul li:last-child {
        margin-bottom: 0;
    }
    .howworks ul li .howworks-block {
        padding: 0;
    }

    .become {
        padding: 40px 0;
    }

    .footer-column ul.contact-data li {
        margin-bottom: 5px;
    }

    .footer-column ul li {
        margin-bottom: 6px;
    }
    .become ul {
        display: flex;
        flex-direction: column;
    }
    .became-img-block::before {
        padding-top: 66.25% !important;
    }
    .become ul li strong span {
        font-size: 24px;
    }
    .become ul li strong {
        font-size: 22px !important;
    }
    .become ul li .become-block:after {
        width: 35px;
    }
}

@media (max-width:520px) {
    .app-store-btn {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .app-store-btn h3{width: 100%;text-align: center;}
    .app-store-btn a{
        width: calc(50% - 20px);
        width: -o-calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        width: -webkit-calc(50% - 20px);
        margin: 0 10px 10px 10px;
    }
    [dir="rtl"] .app-store-btn a{
        margin: 0 10px 10px 10px;
    }
    .app-store-btn a img {
        width: 100%;
    }
}
@media screen and (max-width:480px) {
    .became-img-block::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: 80.35%;
    }

    .location-area select,
    .location-area .selected_service {
        padding: 10px 70px 10px 13px;
        font-size: 16px;
    }

    .location-area input {
        padding: 22px 110px 22px 40px;
        font-size: 16px;
    }

    [dir="rtl"] .location-area input {
        padding: 22px 40px 22px 120px;
    }

    .element-holder:after {
        width: 50px;
        height: 66px;
        background-position: center;
    }

    .location-area form .element-holder.address-input .search-location::after,
    .element-holder.address-input:before {
        width: 36px;
        background-size: 14px;
        background-position: center;
    }

    .header-right ul li.lang .dropdown-content .column a {
        width: calc(50% - 9px);
        width: -o-calc(50% - 9px);
        width: -moz-calc(50% - 9px);
        width: -webkit-calc(50% - 9px);
    }

    header ul.mobile_language_cur li.lang .dropdown-content .column a {
        width: calc(50% - 9px);
        width: -o-calc(50% - 9px);
        width: -moz-calc(50% - 9px);
        width: -webkit-calc(50% - 9px);
    }

    header ul.mobile_language_cur li .dropdown-content .column a {
        width: calc(33.33% - 9px);
        width: -o-calc(33.33% - 9px);
        width: -moz-calc(33.33% - 9px);
        width: -webkit-calc(33.33% - 9px);
    }

    .goto-service-page {
        font-size: 18px;
    }

    #DeliveryAddress.deliver-address:before {
        top: 0;
        left: 8px;
        /*height: 63px;*/
    }

    .search-page-wrap .deliver-address:before {
        top: -72px;
        left: 2px;
    }

    .become ul li a {
        min-height: auto;
    }

    .become ul li strong {
        font-size: 22px;
        line-height: 25px;
    }

    .rootservices ul li strong {
        font-size: 22px;
    }

    .banner-content h1 span {
        font-size: 38px;
    }

    .banner-content h1 {
        font-size: 25px;
    }

    .banner-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .app-store-btn h3 {
        font-size: 20px;
        margin: 10px 0;
    }
    .element-holder.address-input:after, .element-holder.address-input .search-location:after{
        width: 63px;
    }
    .location-area form .element-holder.address-input button[type="submit"]{
        width: 63px;
    }

}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    /* IE10+ CSS styles go here */
    .banner {
        padding: 120px 0 70px 0;
    }
}